html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table tbody tr:hover{
    background-color: #bebebe;
    color: #FFFFFF;
    cursor: pointer;
}


/*böyle yapýlabilir css kendimiz sýnýf oluþturup class içerisine kendi sýnýfýmýzý yazarýz*/
/*a.xbutton:hover{
    color: darkgreen;
    font-weight:bold;
    cursor:pointer;
}*/

.form-label{
    font-size:larger;
}

.bus-seat {
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    display: inline-block;
    margin: 1px;
    font-size: 14px;
}

@media(min-width:768px) {
    /*Manuel responsive css yazma*/
    .bus-seat {
        width: 50px;
        height: 50px;
        border: 2px solid gray;
        display: inline-block;
        margin: 2px;
        font-size: 20px;
    }
}

.FooterClass {
   /* padding: 15px;
    text-align: center;
    background-color: #272343;
    color: rgb(95, 95, 95);
    font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
    font-size: 5px;*/

    text-align: center;
    background-color: #272343;
    color: rgb(95, 95, 95);
    font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
    font-size: xx-small;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 100px;
    position: absolute;
}
 
.bus-seat.sold {
    background-color: darkred
}

.bus-seat.empty{
    background-color:lightgreen
}


.bus-seat.selected {
    background-color: darkcyan
}