@model PassengerDto

<h1>Yolcu Ekleme</h1>

<div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        @if (ViewBag.ErrorMessage != null)
        {
            @MessageHelper.DisplayError(ViewBag.ErrorMessage)
        }

        <form asp-controller="Passengers" asp-action="Update" method="post">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">Adı</label>
                <input asp-for="FirstName" type="text" class="form-control"></input>

            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Soyadı</label>
                <input asp-for="LastName" type="text" class="form-control"></input>
            </div>
            <div class="mb-3">
                <label asp-for="IdentityNumber" class="form-label">T.C.Kimlik No</label>
                <input asp-for="IdentityNumber" type="text" class="form-control"></input>
            </div>
            <div class="mb-3">
                <div>
                    <label for="Gendername" class="form-label">Cinsiyet</label>
                </div>
                @foreach (ValueNameObject obj in ViewBag.GenderSelectedList)
                {

                    <input type="radio" id="gender_@obj.Value" name="gender" value="@obj.Value" @((int)Model.Gender == obj.Value ? "checked" : string.Empty) />
                    <label for="gender_@obj.Value">@obj.Name</label>

                }
            </div>
            <div class="mb-3">
                <label for="start" class="form-label">Doğum Tarihi:</label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
            </div>

            <div class="mb-12">
                <div class="float-end">
                    <a class="btn btn-outline-warning" asp-action="Index">İptal</a>
                    <button class="btn btn-outline-success" type="submit">
                        Kaydet
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


