@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="header" style="color: darkred; font-family:'BankGothic Md BT'">MC TOURS <p class="head" style="color: midnightblue;font-size:50px; font-family:'BankGothic Md BT'">Seyahet Etmek Ayrıcalıktır</p></h2>
    <a class="col" style="text-align:center; ">
        <img src="~/Bus.png" style="width:500px; height:450px;" alt="" />
    </a>
   
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    
</div>


